<div class="booking-layout-container">
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <ul fxLayout fxLayoutGap="25px" class="navigation-items">
                <li>
                    <a routerLink="/home">
                        <p>{{this.UIResource.homeTitle}}</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/booking">
                        <p>{{this.UIResource.bookTitle}}</p>
                    </a>
                </li>
            </ul>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="header-layout">
                <mat-toolbar color="primary">
                    <div fxHide.gt-xs>
                        <button mat-icon-button (click)="sidenav.toggle()">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <div fxFlex fxLayout fxLayoutAlign="begin" fxHide.xs>
                        <ul fxLayout fxLayoutGap="25px" class="navigation-items">
                            <li>
                                <a routerLink="/home">
                                    <p>{{this.UIResource.homeTitle}}</p>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/booking">
                                    <p>{{this.UIResource.bookTitle}}</p>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/booking">
                                    <p>{{this.UIResource.shopTitle}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div fxFlex fxLayout fxLayoutAlign="end">
                        @if (this.isAuthenticated){
                        <div class="lang-button" (click)="onAdminClick()">
                            <p>Admin</p>
                        </div>
                        }
                        <div class="lang-button" (click)="onChangeLanguage()">
                            <p>{{this.lang}}</p>
                        </div>
                        @if (!this.isAuthenticated) {
                        <div class="default-button"><button mat-button
                                (click)="onClickLogin()">{{this.UIResource.loginMenu}}</button></div>
                        } @else {
                        <div class="logo-container" [matMenuTriggerFor]="userMenu">
                            <img class="user-logo" [src]="this.userImagePath" alt="User">
                            <mat-menu #userMenu="matMenu">
                                <button mat-menu-item>{{this.UIResource.profileMenu}}</button>
                                <button mat-menu-item>{{this.UIResource.settingMenu}}</button>
                                <button mat-menu-item (click)="onLogout()">{{this.UIResource.logoutMenu}}</button>
                            </mat-menu>
                        </div>

                        }
                    </div>
                </mat-toolbar>
            </div>
            <main class="main-content">
                <router-outlet></router-outlet>
            </main>
            @if(!this.isBooking){
                <div>
                    <footer class="footer">
                        <div class="left">
                            <h3>Follow Us</h3>
                            <div class="icons">
                                <a href="https://www.facebook.com"><img src="facebook-icon.png" alt="Facebook"></a>
                                <a href="mailto:example@example.com"><img src="email-icon.png" alt="Email"></a>
                                <a href="https://zalo.me"><img src="zalo-icon.png" alt="Zalo"></a>
                            </div>
                        </div>
                        <div class="middle">
                            <h3>Contact</h3>
                            <p>Address: 123 Street Name, City, Country</p>
                            <p>Phone: +123 456 7890</p>
                            <p>Email: contactexample.com</p>
                        </div>
                        <div class="right">
                            <h3>Quick Links</h3>
                            <ul>
                                <li><a class="quick-link-item" href="#about">About Us</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#privacy">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </footer>
                </div>
            }
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>