@import '../../../../styles.scss';

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
    height: 100%;
}

a:hover,
a:active {
    color: var(--main-text-hover-color);
}

.navigation-items {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

mat-toolbar {
    border-radius: 3px;
}

.user-logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.logo-container {
    width: 50px;
    height: 50px;
    position: relative;
}

.black-line {
    width: 2px;
    background-color: black;
}

.phone-icon-container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--main-ctrl-color);

    .phone-icon {
        margin-right: auto;
        margin-left: auto;
        height: 25px;
        width: 25px;
    }
}

@media (max-width: 500px) {
    .phone-number-container {
        display: none !important;
    }

    .phone-icon-container {
        display: none !important;
    }
}

.phone-number-container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    height: 30px;
}

.mat-menu-panel {
    pointer-events: auto;
}

.lang-button {
    color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 17px;
    cursor: pointer;

    p {
        margin: 0px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.footer .left,
.footer .middle,
.footer .right {
    flex: 1;
}

.footer a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
}

.footer .icons img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.header-layout {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Ensures the header stays on top of other elements */
}

.quick-link-item {
    color: black;
}