<div class="dashboard-container">
  <div class="dashboard-head-container">
    <span class="banner">Tình Trạng Sân</span>
  </div>
  <div class="content-container">
    <div class="left-content-container">
      <div class="list-filter">
        <div class="color-def-container">
          <div class="color-def">
            <div class="color-available "></div>
            <div class="def">Trống </div>
          </div>

          <div class="color-def">
            <div class="color-opened "></div>
            <div class="def">Đã đặt </div>
          </div>
          <div class="color-def">
            <div class="color-booked "></div>
            <div class="def">Đang Mở </div>
          </div>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Trạng Thái </mat-label>
          <mat-select [(ngModel)]="selectedStatus" name="status" (ngModelChange)="onFilterChange($event)">
            @for (status of listStatus; track status) {
            <mat-option [value]="status.value">{{status.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <form>
          <mat-form-field appearance="outline">
            <mat-label>Khung giờ </mat-label>
            <mat-select [(ngModel)]="selectedTimeSlotID" name="timeslot" (ngModelChange)="onFilterChange($event)">
              @for (timeslot of timeSlots; track timeslot) {
              <mat-option [value]="timeslot.id">{{timeslot.textModel}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <hr>
      <div class="court-container">
        @for (yardPrice of yardPriceList; track yardPrice) {
        <div class="court" [class.selected]="isSelected(yardPrice)" [class.booked]="getStatus(yardPrice) == 1"
          [class.opened]="getStatus(yardPrice) == 2" (click)="onSelectYard(yardPrice)">
          <div class="court-name">{{yardPrice.yard.name}}</div>
        </div>
        }
      </div>

    </div>
    <div class="separator">
    </div>

    @if(getStatus(selectedYard) == 0){
      <div class="court-info-container">
        <div class="bill-header">
          <div class="court-name">{{selectedYard?.yard?.name}}</div>
        </div>
        <div class="bill-content">
          <div class="bill-content-item none-border no-margin">
            <div class="time-slot-select">
              <form>
                <mat-form-field class="small-form-field" appearance="outline">
                  <mat-label>Khung giờ </mat-label>
                  <mat-select [(ngModel)]="selectedTimeSlotIDs" name="timeslot" (ngModelChange)="onFilterChange($event)"
                    multiple>
                    @for (timeslot of timeSlots; track timeslot) {
                    <mat-option [disabled]="!isTimeSlotAvailable(timeslot)"
                      [value]="timeslot.id">{{timeslot.textModel}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
          </div>
          <div class="bill-content-item none-border no-margin">
            <div class="time-slot-select">
              <mat-form-field class="small-form-field" appearance="outline">
                <mat-label>Tên người đặt </mat-label>
                <input matInput [(ngModel)]="name">
              </mat-form-field>
            </div>
          </div>
          <div class="bill-content-item none-border">
            <div class="service-name">Tổng giờ :</div>
            <div class="total">{{selectedTimeSlotIDs?.length}} hrs</div>
          </div>
          <div class="bill-content-item none-border">
            <div class="service-name">Ngày :</div>
            <div class="total">{{getCurrentDateFormatted()}}</div>
          </div>
  
        </div>
        <div class="bill-footer">
  
  
          <div class="bill-content-item cash-out">
            <div class="service-name">Thành Tiền :</div>
            <div class="total">{{caculateTotal()}} VND</div>
          </div>
          <div class="bill-content-item">
            <div class="time-slot-select">
              <mat-form-field appearance="outline">
                <mat-label>Trả trước </mat-label>
                <mat-select [(ngModel)]="selectedPercent" name="status" (ngModelChange)="onPercentChange()">
                  @for (percent of listPercent; track percent) {
                  <mat-option [value]="percent.value">{{percent.viewValue}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
           
          </div>
  
  
          <div class="checkout-button-container">
            <button class="checkout-button"> Đặt Sân </button>
          </div>
        </div>
      </div>
      }
  
  
      @if(getStatus(selectedYard) == 1){
      <div class="court-info-container">
        <div class="bill-header">
          <div class="court-name">{{this.selectedYard?.yard?.name}}</div>
        </div>
        <div class="bill-content">
          <div class="bill-content-item none-border">
            <div class="service-name">Tên người đặt : </div>
            <div class="total"> {{this.selectedBill?.name}}</div>
          </div>
          <div class="bill-content-item none-border">
            <div class="service-name">Số điện thoại : </div>
            <div class="total"> {{this.selectedBill?.booking?.phoneNumber}}</div>
          </div>
          <div class="bill-content-item none-border">
            <div class="service-name">Tổng thời gian </div>
            <div class="total"> {{this.selectedBill?.booking?.bookingLines?.length}} hrs</div>
          </div>
        </div>
        <div class="bill-footer">
          <div class="bill-content-item">
            <div class="service-name">Đã trả :</div>
            <div class="total"> {{this.selectedBill?.totalPayment}}</div>
          </div>
          <div class="bill-content-item cash-out">
            <div class="service-name">Còn lại  :</div>
            <div class="total"> {{this.selectedBill?.totalPrice}}</div>
          </div>
  
          <div class="checkout-button-container">
            <button class="checkout-button" (click)="openYard()">Mở Sân </button>
          </div>
        </div>
      </div>
      }

    @if(getStatus(selectedYard) == 2){
    <div class="court-info-container">
      <div class="bill-header">
        <div class="court-name">Court 2 </div>
        <div class="info">
          <div class="info-item">
            Thời gian : 1 hrs
          </div>
          <div class="info-item">
            Thành tiền : 100.000 $
          </div>
        </div>
      </div>
      <div class="bill-content">
        <div class="bill-content-item solid">
          <div class="service-name">Dịch vụ </div>
          <div class="quantity"> Số lượng </div>
          <div class="total">Thành tiền </div>
        </div>
        <div class="bill-content-item">
          <div class="service-name">Cocacola </div>
          <div class="quantity">5</div>
          <div class="total">200 </div>
        </div>
        <div class="bill-content-item">
          <div class="service-name">Revive </div>
          <div class="quantity">2</div>
          <div class="total">100 </div>
        </div>
        <div class="bill-content-item">
          <div class="service-name">Tra da </div>
          <div class="quantity">2</div>
          <div class="total">50 </div>
        </div>
        <div class="bill-content-item">
          <div class="service-name">Mi tom</div>
          <div class="quantity">2</div>
          <div class="total">50</div>
        </div>

        <div class="bill-content-item none-border">
          <div class="service-name">Total</div>
          <div class="total"> 100.000.000</div>
        </div>
      </div>
      <div class="bill-footer">


        <div class="bill-content-item cash-out">
          <div class="service-name">Thành Tiền :</div>
          <div class="total"> 20.000.000</div>
        </div>

        <div class="bill-content-item">
          <div class="service-name">Khuyen mai :</div>
          <div class="total"> 20%(50.000)</div>
        </div>

        <div class="checkout-button-container">
          <button class="checkout-button">Xuất Hóa Đơn</button>
          <button class="checkout-button">Thanh Toán</button>
        </div>
      </div>
    </div>
    }
    
  </div>
</div>