.dashboard-container{
    min-height: 1200px;
    min-width: 1200px;
    font-family: 'arial';
    .dashboard-head-container{
        padding-top: 20px;
        margin-top: 20px;
        text-align: center;
    }
    background-color: white;
    border-radius: 10px;
}

.list-filter{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 300px;
}