table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

th {
  background-color: #f2f2f2;
}

.price-tag {
  padding: 10px;
  transition: background-color 0.3s;
}

.price-tag.available{
  padding: 10px;
  transition: background-color 0.3s;
}

.price-tag.unavailable{
  padding: 10px;
  transition: background-color 0.3s;
  opacity: 0.7;
  background-color: #e0e0e0;
  cursor: not-allowed;
  color:#a0a0a0;
}

.price-tag.available:hover {
  background-color: #d3d3d3;
  color: white;
  cursor: pointer;
}

.price-tag.selected {
  background-color: #ffa07a;
  color: white;
}

.price-tag.booked {
  background-color: #B99470;
  color: white;
}

.yard-name {
  width: 50px;
}

.date-picker-container {
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .booking-banner {
    font-size: 30px;
    font-weight: bold;
    height: 100%;
    margin-right: 20px;
  }
}

.date-picker {

}

.form-field{
  padding-top: 22px;
}

.login-button {
  width: 100%;
  margin-top: 10px;
  background-color: var(--main-ctrl-background-color) !important;
  color: white !important;
  height: 50px;
}

.booking-container{
  padding-top:  50px;
}

.clear-container{
  margin-top: 5px;
}