<div class="booking-container">
  <div class="head-container">
    <div class="booking-banner">{{this.UIResource.bookBanner}}<br>
      <div class="name-banner">Chill Batminton</div>
    </div>
    <div class="date-picking">
      <div class="select-datedate-banner"> {{this.UIResource.selectDate}}</div>
      <form [formGroup]="selectedTimeform" class="date-picker">
        <mat-form-field appearance="outline" class="date-form-field">
          <input matInput [matDatepicker]="picker" formControlName="dateTime" [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
    <div class="fix-booking-banner">{{this.UIResource.fixBooking}}<br>
      <div class="name-banner">{{this.UIResource.fixPhone}}</div>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="yard-name">{{this.UIResource.court}}</th>
          @for (time of timeSlots; track time) {
          <th>{{time.startTime.slice(0, -3)}} - {{time.endTime.slice(0, -3)}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (yardPrice of yardPriceList; track yardPrice) {
        <tr>
          <td class="yard-name">
            <div class="yard-name-child">{{yardPrice.yard.name}}</div>
          </td>
          @for (detail of yardPrice.yardPricesDetails
          ; track detail) {
          <td (click)="onSelectTimeSlot(detail)" class="price-tag" [class.reserved]="isReserved(detail)" [class.selected]="isSelected(detail)"
            [class.available]="isAvailable(detail)" [class.unavailable]="!isAvailable(detail)"
            [class.booked]="isBooked(detail)">
          </td>
          }
        </tr>
        }

      </tbody>
    </table>
  </div>
  <div class="clear-container">
    <button mat-raised-button (click)="onClearAll()" class="default-button">{{this.UIResource.clearAll}}</button>
  </div>
  <h3>{{this.UIResource.yourSelected}}</h3>
  <app-booking-detail [selectedDate]="this.selectedDate"></app-booking-detail>
  @if(this.anyPriceSelected){
  <button class="login-button " mat-raised-button (click)="onCheckOut()">{{this.UIResource.checkOut}}</button>
  }
</div>