@import "../../../../styles.scss";

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  margin: 0px;
  border: 1px solid black;
  white-space: nowrap;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  height: 20px;
}

th {
  background-color: #f2f2f2;
  margin: 0px;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  white-space: nowrap;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.price-tag {
  padding: 10px;
  transition: background-color 0.3s;
}

.price-tag.available {
  padding: 10px;
  transition: background-color 0.3s;
}

.price-tag.unavailable {
  padding: 10px;
  transition: background-color 0.3s;
  opacity: 0.7;
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.price-tag.available:hover {
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.price-tag.selected {
  background-color: yellow;
  color: white;
}

.price-tag.reserved {
  background-color: #d28c8c;
  color: white;
  // pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

.price-tag.booked {
  background-color: #d2b48c;
  color: white;
}


.head-container {
  background-color: var(--main-bg-color);
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #36454f;

  .booking-banner {
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-right: 20px;
    text-align: center;
    margin-left: 5px;
  }

  .fix-booking-banner {
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-left: 50px;
    text-align: center;
    margin-left: 5px;
    font-style: italic;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
  }

  .name-banner {
    margin-top: 10px;
    font-family: "Lucida Console";
    font-size: 25px;
  }

  .date-picking {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .select-datedate-banner {
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-right: 20px;
  }
}

.date-form-field {
  padding-top: 22px;
  max-width: 150px;
}

.login-button {
  width: 100%;
  margin-top: 10px;
  background-color: var(--main-ctrl-background-color) !important;
  color: white !important;
  height: 50px;
}

.booking-container {
  padding-top: 50px;
}

.clear-container {
  margin-top: 5px;
}

.yard-name {
  position: absolute;
  width: 80px;
  left: 10px;
  top: auto;
  border-top-width: 1px;
  height: 38px;
  /*only relevant for first row*/
}

.yard-name-head{
  position: absolute;
  width: 62px;
  left: 10px;
}

.table-container {
  overflow-x: scroll;
  margin-left: 90px;
  overflow-y: visible;
}

// Add Chat For Booking
// .booking-container {
//   position: relative;  /* Ensures chat is positioned relative to this container */

//   app-chat {
//     position: absolute;
//     bottom: 20px;
//     right: 20px;
//   }
// }
