.tenant-container {
}


.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    height: 80vh;
}

.slides {
    display: flex;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
    }

    58.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }

    91.66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-300%);
    }
}

.slide-text {
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
}

.slide-text .title {
    font-size: 50px;
    font-weight:500;
    margin-bottom: 10px;
}

.slide-text .subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.slide-text .slogan {
    font-size: 18px;
    margin-bottom: 20px;
}

.slide-text button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slide-text button:hover {
    background-color: #4d4d4d;
}

.dots {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #333;
}

@media (max-width: 500px) {
    .dot {
        display: none;
    }

    .slide-text .title {
        font-size: 20px;
    }

    .slide-text .subtitle {
        font-size: 14px;
        margin-bottom: 10px;
    }
}



.list-card {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    flex: 1;
    width: 600px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-address {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-now-content {
    background: #b08968;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.book-now:hover {
    background: #956f4a;
}

.view-more {
    color: #666;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 5px;
}

.view-more:hover {
    color: #333;
}

@media (max-width: 768px) {
    .card {
        flex: 100%;
    }
}

@media (max-width: 1024px) {
    .list-card {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .list-card {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

.book-link{
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}