.yard-list-container{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    .yard-banner{
        font-weight: bold;
    }
}

.content {
    margin-top: 20px;
    min-width: 1500px;
    height: 300px;
    margin: 20px;
    padding-bottom: 20px;
}