<div class="yard-list-container">

  <div class="yard-banner">Quản lí sân</div>
  <button (click)="addYard()" class="add-service-button">Thêm </button>
  <button [disabled]="this.selectedYard.length  == 0 || !this.selectedYard" (click)="removeYard()"
    class="add-service-button">Xóa</button>

  <app-dynamic-input [title]="inputTitle" [inputFields]="fields" (saveEvent)="handleSaveYard($event)"
    #addyardpopup></app-dynamic-input>
  <div class="content">
    <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
    <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="tableData" [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef" [rowSelection]="rowSelection" [editType]="editType"
      (selectionChanged)="onYardSelectionChanged($event)" (rowValueChanged)="onRowValueChanged($event)" />
  </div>
</div>