.container {
  display: flex;
  height: 97vh;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 10px 0;
      cursor: pointer;
      color: #007bff;
    }

    li:hover {
      text-decoration: underline;
    }
  }
}

.role-settings {
  flex-grow: 1;
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
      padding: 12px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    input[type=checkbox] {
      margin: auto;
      /* Center the checkboxes */
    }
  }

  /* Pagination styles */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    .page-number {
      margin: 0 5px;
      padding: 5px 10px;
      border: 1px solid #ddd;
      cursor: pointer;
    }

    .page-number.active {
      background-color: #007bff;
      color: white;
      border-color: #007bff;
    }
  }
}


.role-settings{
  overflow: scroll;;
}

.save-button {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}