<div class="login-container">
  @if(this.state == 'login'){
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title class="signin-title">{{UIResource.loginTitle}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
          <mat-form-field appearance="outline">
            <mat-label>{{UIResource.emailPlh}}</mat-label>
            <input matInput formControlName="email" required>
          </mat-form-field >
          <mat-form-field appearance="outline">
            <mat-label>{{UIResource.passwordPlh}}</mat-label>
            <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="form-options">
            <mat-checkbox formControlName="rememberme">{{UIResource.rememberMe}}</mat-checkbox>
            <a class="forgot-password">{{UIResource.forgotPassword}}</a>
          </div>
          <button class="login-button" mat-raised-button type="submit">{{UIResource.loginMenu}}</button>
          <div class="register-link-container">
            <div class="dont-have-account">{{UIResource.dontHaveAccount}}&nbsp;</div>          
            <a class="register-link" (click)="registerHere()">{{UIResource.registerHere}}</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  } @else if (this.state == 'register') {
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title class="signin-title">{{UIResource.registerTitle}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
          <mat-form-field appearance="outline">
            <mat-label>{{UIResource.emailPlh}}</mat-label>
            <input matInput formControlName="email" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{UIResource.passwordPlh}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{UIResource.correctPassword}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="correctpassword" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- <mat-error class="password-error" *ngIf="this.registerForm.get('correctpassword')?.invalid && (this.registerForm.get('correctpassword')?.dirty || this.registerForm.get('correctpassword')?.touched)">
              {{UIResource.passWordCondition}}
            </mat-error> -->
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>{{UIResource.phoneNumberPlh}}</mat-label>
            <input matInput formControlName="phoneNumber">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [placeholder]="UIResource.dateOfBirthPlh">      
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>       
            <mat-datepicker #picker ></mat-datepicker>     
          </mat-form-field>
          <button class="login-button" mat-raised-button type="submit">{{UIResource.register}}</button>
          <div class="register-link-container">
            <div class="dont-have-account">{{UIResource.haveAccount}}&nbsp;</div>          
            <a class="register-link" (click)="loginHere()">{{UIResource.loginHere}}</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  }
</div>