/* You can add global styles to this file, and also import other style files */
/* for sidenav to take a whole page */

html,
body {
  margin: 0px;
  height: 100%;
  padding: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --main-bg-color: #fafafa;
  --main-text-color: black;
  --main-text-hover-color: #666666;
  --main-ctrl-background-color: #d2b48c;
  --main-ctrl-color: white;
  --base-green-bold-color: rgb(26, 152, 80);
  --base-green-very-bold-color: rgb(0, 104, 55);
  --base-green-hover-color: rgb(102, 189, 99);
  --base-red-bold-color: rgb(215, 48, 39);
  --base-red-hover-color: rgb(244, 109, 67);
  // Add more variables as needed
}

.default-button {
  border-radius: 5px !important;
  color: var(--main-ctrl-color) !important;
  height: 35px;
  background-color: var(--main-ctrl-background-color) !important;

  :hover {
    color: var(--main-text-hover-color-color) !important;
  }
}

.mat-toolbar.mat-primary {
  background-color: #f0f0f0;
}

.small-form-field {
  width: 280px; /* Adjust the width as needed */
  font-size: 8px; /* Adjust the font size as needed */
}


