/* You can add global styles to this file, and also import other style files */
/* for sidenav to take a whole page */
html, body { 
    margin: 0px;
    height: 100%;
    padding: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary{
    background-color: whitesmoke;
}

:root {
    --main-bg-color: whitesmoke;
    --main-text-color: #000000;
    --main-text-hover-color: #666666;
    --main-ctrl-color: #B99470;
    // Add more variables as needed
  }

.default-button{
    border-radius: 5%;
    color: var(--main-text-color);
    height: 100%;
    background-color: var(--main-ctrl-color);
    :hover{
        color: var(--main-text-hover-color-color);
    }
}
